{% extends "./layout.html" %}

{% block title %}{{ "LANGS_CHOOSE"|t }} · {{ super() }}{% endblock %}

{% block body %}
<div class="book-langs-index" role="navigation">
  <div class="inner">
    <h3>{{ "LANGS_CHOOSE"|t }}</h3>

    <ul class="languages">
      {%  for lang in languages.list %}
      <li>
        <a href="{{ (lang.id + "/README.md")|contentURL }}">{{ lang.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
