{% extends "../layout.html" %}

{% block head %}
  {{ super() }}
  <meta name="HandheldFriendly" content="true"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  {### Use the favicon from user config or default ###}
  {% if config.pluginsConfig["theme-kanemanual"].favicon %}
    <link rel="shortcut icon" href="{{ config.pluginsConfig["theme-kanemanual"].favicon }}" type="image/x-icon">
  {% else %}
    <link rel="shortcut icon" href="https://s3-eu-west-1.amazonaws.com/kane-uk/images/favicon.ico" type="image/x-icon">
  {% endif %}
  {### Adds base url from user config ###}
  {% if config.pluginsConfig["theme-kanemanual"].baseUrl %}
    <base href="{{ config.pluginsConfig["theme-kanemanual"].baseUrl }}">
  {% endif %}
{% endblock %}

{% block style %}
  {### Include theme css if not disabled by user config ###}
  {% if not config.pluginsConfig["theme-kanemanual"].excludeDefaultStyles %}
    <link rel="stylesheet" href="{{ "style.css"|resolveAsset }}">
  {% endif %}

  {{ super() }}

  {### Custom stylesheets for the book ###}

  {% for type, style in config.styles %}
    {% if fileExists(style) and type == "website" %}
      <link rel="stylesheet" href="{{ style|resolveFile }}">
    {% endif %}
  {% endfor %}
{% endblock %}

{% block body %}{% endblock %}
