{% extends "./layout.html" %}

{% block title %}{{ page.title }} · {{ super() }}{% endblock %}

{% block description %}{{ page.description }}{% endblock %}

{% block head %}
  {{ super() }}
  {% if page.next and page.next.path %}
    <link rel="next" href="{{ page.next.path|resolveFile }}" />
  {% endif %}
  {% if page.previous and page.previous.path %}
    <link rel="prev" href="{{ page.previous.path|resolveFile }}" />
  {% endif %}
{% endblock %}

{% block javascript %}
  <script src="{{ "gitbook.js"|resolveAsset }}"></script>
  <script src="{{ "theme.js"|resolveAsset }}"></script>
  {% for resource in plugins.resources.js %}
    {% if resource.url %}
      <script src="{{ resource.url }}"></script>
    {% else %}
      <script src="{{ resource.path|resolveAsset }}"></script>
    {% endif %}
  {% endfor %}
{% endblock %}

{% block body %}
  <div class="book">
    <div class="book-summary">
      {% block book_sidebar %}
        <div class="book-logo">
          {% if config.pluginsconfig["theme-kanemanual"].logo %}
            <img src="{{ config.pluginsConfig["theme-kanemanual"].logo }}"/>
          {% else %}
            <img src="https://s3-eu-west-1.amazonaws.com/kane-uk/images/KANE_logo_l.png" />
          {% endif %}
        </div>
        {% block search_input %}{% endblock %}
        {% block book_summary %}
          <nav role="navigation">
            {% include "website/summary.html" %}
          </nav>
        {% endblock %}
      {% endblock %}
    </div>

    <div class="book-body">
      {% block book_body %}
        <div class="body-inner">
          {% block book_inner %}
            {% include "website/header.html" %}

              <div class="page-wrapper" tabindex="-1" role="main">
                <div class="page-inner">
                  {% block search_results %}
                    <section class="normal markdown-section">
                      {% block page %}
                        {{ page.content|safe }}
                      {% endblock %}
                    </section>
                  {% endblock %}
                </div>
              </div>
          {% endblock %}
        </div>

        {% block book_navigation %}
          {% if page.previous and page.previous.path %}
            <a href="{{ page.previous.path|resolveFile }}{{ page.previous.anchor }}" class="navigation navigation-prev {% if not (page.next and page.next.path) %}navigation-unique{% endif %}" aria-label="Previous page: {{ page.previous.title }}">
              <i class="fa fa-angle-left"></i>
            </a>
          {% endif %}
          {% if page.next and page.next.path %}
            <a href="{{ page.next.path|resolveFile }}{{ page.next.anchor }}" class="navigation navigation-next {% if not (page.previous and page.previous.path) %}navigation-unique{% endif %}" aria-label="Next page: {{ page.next.title }}">
              <i class="fa fa-angle-right"></i>
            </a>
          {% endif %}
        {% endblock %}
      {% endblock %}
    </div>

    <script>
      var gitbook = gitbook || [];
      gitbook.push(function() {
        gitbook.page.hasChanged({{ template.getJSContext()|dump|safe }});
      });
    </script>
  </div>
{% endblock %}
